@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: bisque;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: #26083f;
}

.header-bg {
    background-image: url(../images/header-bg.jpg);
    background-color: rgb(79, 37, 107);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    text-align: center;
}

h1,
h2 {
    letter-spacing: 5px;
    color: yellow;
    font-size: 300%;
    padding: 40px;
}

#header {
    font-family: Ubuntu, sans-serif;
}

.header-bottom {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#question {
    margin: 20px;
    padding: 20px;
    text-align: center;

}

/* Style of button-area and buttons is taken from outer source https://juniva616.github.io/milestone-1/index.html */
#button-area {
    box-sizing: border-box;
    max-width: 50%;
    border: 1px solid #438f56;
    border-radius: 10px;
    background-color: rgb(213, 240, 191);
    margin: auto;
    padding: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    text-align: center;
}
 
.button {
    max-width: 100px;
    border-radius: 6px;
    padding: 12px 20px;
    background: #064e1c;
    border: none;
    margin: auto 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}
/*  flex-container idea is taken from  https://www.w3schools.com/ and adjusted to the project needs*/

.flex-container {
    display: flex;
  /*  background-color: dodgerblue; */
}

.flex-container>div {
    background-color: #f1f1f1;
    border: 2px solid silver;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.question-area {
    flex-basis: 50%;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 20px;
    margin-top: 0;   
    border: 2px solid silver;
}

#left-images, #right-images {
    flex-basis: 21%;
    padding: 20px;
    margin-top: 0;
    flex-wrap: wrap;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    background-color: rgb(22, 53, 71);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110px;
}

/*  The score-area in the footer */
.score-area {
    display: flex;
    margin: 0 auto; 
    max-width: 50%;
    font-size: 2rem;
    justify-content: space-evenly;
}   

.scores {
    justify-self: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 800;
    text-align: center;
    color: yellow;
    padding: 20px;
}

/* Media queries  for the screen less than 800px */
@media (max-width: 800px) {

    .flex-container {
        flex-direction: column;
    }  

    .flex-container>div {
    flex-direction: column;
}
}


/* Media queries  for the screen less than 1080px */
@media (max-width: 1080px) {
    .button {
        max-width: auto;
    }
}

/* Media queries  for the screen less than 1155px */
@media (max-width: 1155px) {

.score-area {
    font-size: 1.5rem;
    padding: 15px;
}


.footer {
    height: 120px;
}
}