@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #26083f;
}

.header-bg {
    background-image: url(../images/header-bg.jpg);
    background-color: rgb(79, 37, 107);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12em;
    text-align: center;
}

h1,
h2 {
    letter-spacing: 5px;
    color: yellow;
    font-size: 300%;
    padding: 20px;
}

#header {
    font-family: Ubuntu, sans-serif;
}

.header-bottom {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#question {
    margin: 5px;
    padding: 5px;
}

/* Style of button-area and buttons is taken from outer source https://juniva616.github.io/milestone-1/index.html */
#button-area {
    box-sizing: border-box;
    max-width: 50%;
    border: 1px solid #438f56;
    border-radius: 10px;
    background-color: rgb(213, 240, 191);
    margin: auto;
    padding: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    text-align: center;
}

.button {
    max-width: 100px;
    border-radius: 6px;
    padding: 12px 20px;
    background: #064e1c;
    border: none;
    margin: auto 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

/* The end of the code from outer source */

/*  flex-container idea is taken from  https://www.w3schools.com/ and adjusted to the project needs*/

.flex-container {
    display: flex;
    background-color: floralwhite;
}

.flex-container>div {
    background-color: #f1f1f1;
    border: 2px solid silver;
    margin: 10px;
    padding: 20px;
    font-size: 200%;
    align-self: center;
}

/*  The end of the code from outer source */

.question-area {
    flex-basis: 50%;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 20px;
    margin-top: 0;
    border: 2px solid silver;
}

#left-images,
#right-images {
    flex-basis: 21%;
    padding: 20px;
    margin-top: 0;
    align-self: center;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    background-color: rgb(22, 53, 71);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110px;
}

/*  The score-area in the footer */
.score-area {
    display: flex;
    margin: 0 auto;
    max-width: 50%;
    font-size: 2rem;
    justify-content: space-evenly;
}

.scores {
    justify-self: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 800;
    text-align: center;
    color: yellow;
    padding: 20px;
}





/* Media queries  for the screen less than 1160px */
@media (max-width: 1160px) {

    .score-area {
        font-size: 1.5rem;
        padding: 15px;
    }

    .footer {
        height: 120px;
    }

    #left-images,
    #right-images {
        flex-basis: 15%;
        padding: 5px;
    }

    .flex-container>div {
        flex-direction: row;
        font-size: 160%;
        align-self: center;
    }
}

/* Media queries  for the screen less than 1000px */
@media (max-width: 1000px) {

    .flex-container>div {
        flex-direction: row;
        font-size: 140%;
        align-self: center;
    }


    #button-area {
        box-sizing: border-box;
        max-width: 90%;
        padding: 3px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
        text-align: center;
    }

    .button {
        max-width: 100px;
        border-radius: 6px;
        padding: 6px 10px;
        margin: auto 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    }

}

/* Media queries  for the screen less than 828px */
@media (max-width: 828px) {

    .flex-container {
        flex-direction: row;
    }

    .flex-container>div {
        flex-direction: column;
        font-size: 140%;
         
    }

    .button {
        max-width: auto;
    }

    #left-images {

        flex-basis: 10%;
        padding: 5px;
        align-self: center;
    }

    #right-images {
        display: none;
    }
}



/* Media queries  for the screen less than 640px */
@media (max-width: 640px) {
    .header-bg {
        background-image: url(../images/header-bg1.jpg);
        height: 100px;
    }

    .flex-container {
        flex-direction: column;
        width: 100%;
    }

    .flex-container>div {
        flex-direction: column;
        font-size: 120%;
        padding: 0;
        width: 90%;
        align-self: center;
    }

    #left-images {
        padding: 5px;
    }

    #right-images {
        display: none;
    }

    .question-area {
        padding: 3px;
        margin: 3px;
    }

    #question {
        margin: 3px;
        padding: 2px;
    }

    h1,
    h2 {
        font-size: 200%;
        padding: 5px;
    }

    #button-area {
        box-sizing: border-box;
        max-width: 90%;
        padding: 3px;
        box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
        text-align: center;
    }

    .button {
        max-width: 100px;
        border-radius: 6px;
        padding: 6px 10px;
        margin: auto 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    }


}